.SearchResults {
    width: 43%;
    height: 950px;
    overflow-y: scroll;
    padding: 2.27rem 1.16rem;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .SearchResults {
      width: 90%;
      margin-bottom: 2rem;
    }
  }

  h2 {
    text-align: left;
    font-size: 1.55rem;
    border-bottom: 1px solid #6f6f6f;
    padding: 0.48rem 0;
  }