html, 
body, 
#root,
.container {
  height: 100%;
}

html {
  font-size: 18px;
}

body {
  background-image: repeating-linear-gradient(45deg, #000000c7, #000000c7 1px, #ec8b41eb 5px, #ec8b413d 50px);
  background-attachment: fixed;
}

.header {
  height: 4rem;
  background-color: hsl(229, 97%, 15%);
  text-align: center;
}

.icon {
  height: 45px;
  width: 45px;
  position: relative;
  top: 8px;
  right: 15px;
}

h1 {
  line-height: 4rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2.25rem;
  color: #fff;
  display: inline;
}

.App {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
  min-height: calc(100% - 5.5rem);
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App-playlist {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
