.ThemeInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.94rem;
}

.ThemeInput input {
  width: 287px;
  padding: .88rem 0;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-bottom: 2.22rem;
  color: #010c3f;
  text-align: center;
  font-size: 1rem;
}

.ThemeInput input:focus {
  outline: none;
}

.SearchButton {
  cursor: pointer;
  width: 8.11rem;
  padding: .77rem 0;
  border-radius: 4px;
  background-color: hsl(229, 97%, 15%);
  text-align: center;
  font-size: 1rem;
  transition: background-color .25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 2rem;
}

.SearchButton:hover {
  background-color: rgba(108, 65, 233, .7);
}